/*-- scss:defaults --*/


/*-- scss:rules --*/

.reveal .slide blockquote {
  border-left: 3px solid $text-muted;
  padding-left: 0.5em;
  
}

.red {
  color: #E6135F;
}

#title-slide .title {
  /*font-size: 1em;*/
  text-align: center;
}

.subtitle{
  font-size: 1.2em;
}


.tiny { font-size: 60% }
.small { font-size: 80% }
.small90 { font-size: 90% }

.ack { 
  font-size: 80%;
  margin-top: 10px;
  margin-right: 10px;
  display: block;
  float: left;
}
